<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="Lang1From" value="de"></add>
    <add key="Lang1To" value="en"></add>
    <add key="Lang1SubcriptionKey" value=""/>
    <add key="Lang1Category" value=""></add>
    
    <add key="Lang2From" value="en"></add>
    <add key="Lang2To" value="de"></add>
    <add key="Lang2SubcriptionKey" value=""/>
    <add key="Lang2Category" value=""></add>

    <add key="CognitiveAuthUri" value="https://api.cognitive.microsoft.com/sts/v1.0/issueToken"/>
    <add key="TranslatorUriV2" value="https://api.microsofttranslator.com/v2/Http.svc"/>
    <add key="TranslatorUri" value="https://api.cognitive.microsofttranslator.com"/>
  </appSettings>
</configuration>
